.header {
  height: 50px;
  background: #444;
  color: #fff;
}
.header .ant-menu {
  background: #001529;
}
.header .ant-menu-item > a {
  color: #fff;
}
.header .ant-menu-item-selected > a {
  color: #1890ff;
}
.header .nav-wrap {
  width: 1200px;
  margin: 0 auto;
  height: 50px;
  box-sizing: border-box;
}
.header .nav-wrap .nav-list-wrap {
  width: 1160px;
  display: inline-block;
  height: 50px;
  text-align: right;
}
.header .nav-wrap .nav-list-wrap .ant-menu {
  display: inline-block;
  height: 50px;
  color: #fff;
  background: transparent;
}
